.advantages__title {
  margin: 0;
  padding: 32px 25px 27px;
  position: relative;

  &::after {
    content: "";
    width: 320px;
    height: 37px;
    background-image: url("../img/intro-bottom-shape.svg");
    position: absolute;
    bottom: -16px;
    left: 0;
  }
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages__item {
  margin: 0;
  padding: 0;

  &:nth-last-child(-n+3) {
    background-color: @color-bright-gray;
    padding-left: 21px;
    padding-right: 21px;

    &:not(:nth-last-child(1)) {
      border-bottom: 1px solid @color-light-silver;
    }
  }
}

.advantages__header {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
}

.advantages__content {
  padding: 34px 11px 39px;

  &--special {
    color: @color-white;
    background-color: @color-dark-sky-blue;
  }
}

.advantages__counter {
  font-size: inherit;
  line-height: 21px;
}

.advantages__slogan {
  font-size: inherit;
  line-height: 21px;
  margin: 0;
}

.advantages__photo {
  display: block;
  max-width: fit-content;
}

@media (min-width: @tablet-width) {
  .advantages {
    background-color: @color-white;
  }

  .advantages__title {
    &::after {
      content: none;
    }
  }

  .advantages__photo {
    width: 512px;
    height: 256px;
    display: block;
  }

  .advantages__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .advantages__item {
    &:nth-last-child(-n+3):not(:nth-last-child(1)) {
      border-bottom: none;
    }

    &:not(:nth-last-child(-n+3)) {
      display: flex;
      grid-column-start: 1;
      grid-column-end: -1;
    }

    &:nth-child(3) {
      flex-direction: row-reverse;
    }
  }
}

@media (min-width: @desktop-width) {
  .advantages__photo {
    width: 800px;
    height: 256px;
    max-width: 100%;
  }
}
