.booking-search {
  padding: 35px 20px 49px;
}

.booking-search__header {
  margin: 0;
  font-size: 21px;
  line-height: 26px;
}

.booking-search__action {
  margin: 20px 0;
  font-size: 14px;
  line-height: 24px;
  color: @color-dark-charcoal;
}

.booking-search__button {
  width: 280px;
  height: 58px;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: @color-white;
  vertical-align: middle;
  background-color: @color-dark-sky-blue;
  border: none;
}

@media (min-width: @tablet-width) {
  .booking-search {
    padding: 57px 155px;
    background-color: @color-white;
  }

  .booking-search__header {
    font-size: 30px;
  }

  .booking-search__button {
    width: 458px;
  }
}

@media (min-width: @desktop-width) {
  .booking-search__action {
    padding: 0 200px;
  }
}
