.controls-set__replay {
  padding-left: 20px;

  &:hover path,
  &:focus path {
    fill: @color-dark-charcoal;
  }

  &:active path {
    fill: @color-dark-charcoal-opacity;
  }
}

.controls-set__playbar {
  width: 280px;
  height: 45px;
  background-color: @color-black-opacity-low;
  order: -1;
  flex-grow: 1;
  flex-basis: 100%;
  // margin: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.controls-set__subtitles {
  margin-left: auto;

  &:hover path,
  &:focus path {
    fill: @color-dark-charcoal;
  }

  &:active path {
    fill: @color-dark-charcoal-opacity;
  }
}

.controls-set__fullscreen {
  padding-right: 20px;
  margin-left: 30px;

  &:hover path,
  &:focus path {
    fill: @color-dark-charcoal;
  }

  &:active path {
    fill: @color-dark-charcoal-opacity;
  }
}

@media (min-width: @tablet-width) {
  .controls-set__replay,
  .controls-set__subtitles,
  .controls-set__fullscreen {
    & path {
      fill: @color-white;
    }

    &:hover path,
    &:focus path {
      opacity: 0.6;
    }

    &:active path {
      opacity: 0.3;
    }
  }

  .controls-set__replay {
    padding: 0 40px 0 0;
  }

  .controls-set__playbar {
    order: 0;
    width: 389px;
    height: 20px;
    background-color: @color-transparent;
    flex-grow: 0;
    flex-basis: auto;

    & rect {
      width: 389px;
    }

    & svg:last-of-type {
      width: 389px;
      position: relative;
    }

    & svg:first-of-type {
      position: absolute;
    }
  }

  .controls-set__fullscreen {
    padding-right: 0;
  }
}

@media (min-width: @desktop-width) {
  .controls-set__playbar {
    width: 540px;

    & rect {
      width: 540px;
    }

    & svg:last-of-type {
      width: 540px;
      position: relative;
    }

    & svg:first-of-type {
      position: absolute;
      left: 30%;
    }
  }
}
