.features {
  padding: 35px 20px;
}

.features__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.features__item {
  text-align: left;
  padding-left: 51px;
  position: relative;

  &--living .features__header::before {
    position: absolute;
    top: -10px;
    left: 0;
    content: "";
    width: 39px;
    height: 37px;
    background-image: url("../img/icons/icon-house.svg");
  }

  &--present .features__header::before {
    position: absolute;
    top: -10px;
    left: 2px;
    content: "";
    width: 32px;
    height: 38px;
    background-image: url("../img/icons/icon-gift.svg");
  }

  &--meal .features__header::before {
    position: absolute;
    top: -6px;
    left: -4px;
    content: "";
    width: 40px;
    height: 35px;
    background-image: url("../img/icons/icon-burger.svg");
  }
}

.features__header {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  padding-bottom: 15px;
}

.features__desc {
  margin: 0;
  padding-bottom: 10px;
  color: @color-dark-charcoal;
  font-size: 14px;
}

@media (min-width: @tablet-width) {
  .features__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .features__item {
    text-align: center;
    padding: 100px 20px 0;
    position: relative;

    &--living .features__header::before {
      position: absolute;
      top: 10px;
      left: 35%;
      content: "";
      width: 75px;
      height: 72px;
      background-image: url("../img/icons/icon-house.svg");
      background-size: cover;
    }

    &--present .features__header::before {
      position: absolute;
      top: 10px;
      left: 35%;
      content: "";
      width: 64px;
      height: 75px;
      background-image: url("../img/icons/icon-gift.svg");
      background-size: cover;
    }

    &--meal .features__header::before {
      position: absolute;
      top: 10px;
      left: 35%;
      content: "";
      width: 76px;
      height: 68px;
      background-image: url("../img/icons/icon-burger.svg");
      background-size: cover;
    }

    &:nth-child(2) {
      order: 1;
    }
  }

  .features__header {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    padding-bottom: 20px;
  }

  .features__desc {
    font-size: 14px;
    line-height: 21px;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .features__header {
    padding: 0 20px;
  }

  .features__desc {
    font-size: 14px;
    line-height: 21px;
    padding: 20px;
  }

  .features__item {
    &--living .features__header::before {
      top: 10px;
      left: 40%;
    }

    &--present .features__header::before {
      top: 10px;
      left: 42%;
    }

    &--meal .features__header::before {
      top: 10px;
      left: 40%;
    }
  }
}
