.feedback-form__header {
  padding: 35px 10px 16px;
  border-bottom: 1px solid @color-platinum-vip;

  .section-title__content {
    line-height: 24px;
    padding-top: 14px;
  }
}

.feedback-form__block {
  padding: 0 0 35px;
  margin: 0;
}

.feedback-form__fieldset {
  border: none;
  border-bottom: 1px solid @color-platinum-vip;
  margin: 0;
  padding: 3px 20px;

  &:last-of-type {
    border-bottom: none;
  }

  input[type="text"],
  input[type="tel"],
  input[type="email"] {
    font-family: inherit;
    font-size: 18px;
    line-height: inherit;
    font-weight: 700;
    color: @color-black;
    padding: 15px 18px;
    background-color: @color-anti-flash-white;
    border: 4px solid @color-anti-flash-white;
    height: 58px;

    &:hover {
      background-color: @color-platinum-vip;
      border: 4px solid @color-platinum-vip;
    }

    &:active,
    &:focus {
      background-color: @color-white;
      border: 4px solid @color-platinum-vip;
    }

    &::placeholder {
      color: @color-black;
      font-family: @font-family;
      font-size: 18px;
      font-weight: 700;
      line-height: 26px;
    }
  }
}

.feedback-form__legend {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
}

.feedback-form__button {
  width: 280px;
  height: 58px;
  font-size: 21px;
  font-family: @font-family;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: @color-white;
  vertical-align: middle;
  background-color: @color-dark-sky-blue;
  border: none;

  &:hover,
  &:focus {
    background-color: @color-cerulean-frost;
  }

  &:active {
    background-color: @color-silver-lake-blue;
    color: @color-white-opacity;
  }

  &:disabled {
    background-color: @color-platinum-vip;
  }
}

.feedback-form__info {
  display: none;
}

@media (min-width: @tablet-width) {
  .feedback-form__wrapper {
    background-color: @color-white;
  }

  .feedback-form__header {
    padding: 63px 165px;
    border-bottom: none;
    margin: 0;

    .section-title__header {
      font-size: 30px;
    }

    .section-title__content {
      padding-top: 18px;
    }
  }

  .feedback-form__info {
    display: block;
    text-align: right;
    text-transform: uppercase;
    color: @color-dark-charcoal;
    padding-top: 4px;
  }

  .feedback-form__block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 60px 58px;
  }

  .feedback-form__fieldset {
    border-bottom: none;
    margin: 0;
    padding: 0;

    &:nth-child(3) {
      order: -1;
    }

    &:nth-child(2),
    &:nth-child(4),
    &:nth-child(5) {
      grid-column-start: 1;
      grid-column-end: -1;

      p:first-of-type {
        display: flex;
        align-items: center;
        justify-content: center;

        &::before,
        &::after {
          content: "";
          width: 125px;
          height: 1px;
          background-color: @color-gainsboro;
        }

        &::before {
          margin-right: auto;
        }

        &::after {
          margin-left: auto;
        }
      }
    }

    &:nth-child(5) {
      p:first-of-type {
        &::before {
          left: 320px;
        }

        &::after {
          right: 320px;
        }
      }
    }
  }

  .feedback-form__legend {
    padding-bottom: 30px;
    margin-top: 23px;
    font-size: 21px;
    position: relative;
  }

  .feedback-form__button {
    width: 324px;
    padding: 4px 16px 0 6px;
  }
}

@media (min-width: @desktop-width) {
  .feedback-form__header {
    padding: 114px 380px 35px;
  }

  .feedback-form__block {
    padding: 0 120px 64px;
  }

  .feedback-form__fieldset {
    &:nth-child(2),
    &:nth-child(4),
    &:nth-child(5) {
      p:first-of-type {
        &::before,
        &::after {
          width: 280px;
          height: 1px;
          background-color: @color-gainsboro;
          margin-bottom: 5px;
        }

        &::before {
          left: 335px;
        }

        &::after {
          right: 335px;
        }
      }
    }

    &:nth-child(5) {
      p:first-of-type {
        &::before {
          left: 320px;
        }

        &::after {
          right: 320px;
        }
      }
    }
  }

  .feedback-form__button {
    width: 480px;
    padding-right: 4px;
  }
}
