.feedback-form__header {
  margin-bottom: 20px;
  padding: 35px 10px 16px;
  border-bottom: 1px solid @color-platinum-vip;
}

.feedback-form__block {
  padding: 0 20px;
}

.feedback-form__fieldset {
  border: none;
  border-bottom: 1px solid @color-platinum-vip;
  margin: 0 0 20px;
  padding: 20px 0;

  &:last-of-type {
    border-bottom: none;
  }

  input[type="text"] {
    font-family: inherit;
    font-size: 18px;
    line-height: inherit;
    font-weight: 700;
    color: @color-black;
    padding: 15px 22px;
    background-color: @color-anti-flash-white;
    border: 4px solid @color-anti-flash-white;
    height: 58px;

    &:hover {
      background-color: @color-platinum-vip;
      border: 4px solid @color-platinum-vip;
    }

    &:active,
    &:focus {
      background-color: @color-white;
      border: 4px solid @color-platinum-vip;
    }

    &::placeholder {
      color: @color-black;
      font-family: @font-family;
      font-size: 18px;
      font-weight: 700;
      line-height: 26px;
    }
  }
}

.feedback-form__legend {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
}

.feedback-form__button {
  width: 280px;
  height: 58px;
  font-size: 21px;
  font-family: @font-family;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: @color-white;
  vertical-align: middle;
  background-color: @color-dark-sky-blue;
  border: none;
}

.feedback-form__info {
  display: none;
}

@media (min-width: @tablet-width) {
  .feedback-form__wrapper {
    background-color: @color-white;
  }

  .feedback-form__header {
    padding: 64px 165px;
    border-bottom: none;
    margin: 0;

    .section-title__header {
      font-size: 30px;
    }
  }

  .feedback-form__info {
    display: block;
    text-align: right;
    text-transform: uppercase;
    color: @color-dark-charcoal;
  }

  .feedback-form__block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 60px;
  }

  .feedback-form__fieldset {
    border-bottom: none;

    &:nth-child(3) {
      order: -1;
    }

    &:nth-child(2),
    &:nth-child(4),
    &:nth-child(5) {
      grid-column-start: 1;
      grid-column-end: -1;

      legend {
        display: flex;
        align-items: center;

        &::before,
        &::after {
          content: "";
          position: absolute;
          width: 130px;
          height: 1px;
          background-color: @color-gainsboro;
        }

        &::before {
          left: 335px;
        }

        &::after {
          right: 335px;
        }
      }
    }

    &:nth-child(5) {
      legend {
        &::before {
          left: 320px;
        }

        &::after {
          right: 320px;
        }
      }
    }
  }

  .feedback-form__legend {
    padding-bottom: 30px;
    font-size: 21px;
    position: relative;
  }

  .feedback-form__button {
    width: 324px;
  }
}

@media (min-width: @desktop-width) {
  .feedback-form__header {
    padding: 110px 380px 50px;
  }

  .feedback-form__block {
    padding: 0 120px;
  }

  .feedback-form__fieldset {
    &:nth-child(2),
    &:nth-child(4),
    &:nth-child(5) {
      legend {
        &::before,
        &::after {
          width: 280px;
          height: 1px;
          background-color: @color-gainsboro;
        }

        &::before {
          left: 335px;
        }

        &::after {
          right: 335px;
        }
      }
    }

    &:nth-child(5) {
      legend {
        &::before {
          left: 320px;
        }

        &::after {
          right: 320px;
        }
      }
    }
  }

  .feedback-form__button {
    width: 480px;
  }
}
