.fieldset-impression__line {
  font-size: 18px;
  padding: 0 0 0 75px;
  margin: 0 0 20px 0;
  text-align: left;

  label {
    color: @color-black;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    text-transform: initial;
  }
}
