.fieldset-identity__line {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

@media (min-width: @tablet-width) {
  .fieldset-identity {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .fieldset-identity__input {
    width: 240px;
  }
}
