.fieldset-identity__line {
  margin: 0;
  padding: 0;
  margin-bottom: 21px;
  display: flex;
  width: 280px;
  align-items: center;
  justify-content: space-between;
}

.fieldset-identity__input {
  width: 100%;
}

.fieldset-identity__label {
  padding: 3px 15px 0 0;
}


@media (min-width: @tablet-width) {
  .fieldset-identity {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .feedback-form__legend {
      align-self: flex-start;
      padding: 0 0 35px 58px;
    }
  }

  .fieldset-identity__line {
    width: 266px;
    margin-bottom: 20px;
  }
}

@media (min-width: @desktop-width) {
  .fieldset-identity {
    .feedback-form__legend {
      padding-left: 80px;
    }
  }

  .fieldset-identity__line {
    width: 400px;
  }
}
