.fieldset-impression {
  padding-bottom: 5px;

  p:last-child {
    margin-bottom: 36px;
  }

  .feedback-form__legend {
    margin-bottom: 36px;
  }
}

.fieldset-impression__line {
  font-size: 18px;
  padding: 0 0 0 78px;
  margin: 0 0 43px 0;
  text-align: left;

  label {
    color: @color-black;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    text-transform: initial;
    position: relative;
  }
}

.fieldset-impression__radio {
  & + label,
  &:checked + label {
    cursor: pointer;
  }

  & + label::before,
  &:checked + label::before {
    content: "";
    position: absolute;
    width: 48px;
    height: 48px;
    border: 5px solid @color-anti-flash-white;
    border-radius: 50%;
    background-color: @color-anti-flash-white;
    top: -13px;
    left: -74px;
  }

  &:hover + label::before,
  &:focus + label::before {
    background-color: @color-platinum-vip;
    border-color: @color-platinum-vip;
  }

  &:active + label::before {
    background-color: @color-light-gray;
    border-color: @color-light-gray;
  }

  & + label::after,
  &:checked + label::after {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    border: 3px solid @color-dark-charcoal;
    border-radius: 50%;
    background-color: @color-dark-charcoal;
    top: 2px;
    left: -59px;
    transition: all 0.2s;
  }

  &:checked {
    &:hover + label::before,
    &:focus + label::before {
      background-color: @color-platinum-vip;
    }

    &:active {
      & + label::after {
        opacity: 0.3;
      }

      & + label::before {
        background-color: @color-light-gray;
      }
    }
  }
}

/* toggle radio */
.fieldset-impression__radio + label::after {
  opacity: 0;
  transform: scale(0);
}

.fieldset-impression__radio:checked + label::after {
  opacity: 1;
  transform: scale(1);
}

/* radio accessibility */
.fieldset-impression__radio:focus + label::before,
.fieldset-impression__radio:checked:focus + label::before {
  box-shadow: inset 0 0 0 6px @color-white-shadow, 0 1px 3px @color-black-opacity-shadow;
  background-color: @color-platinum-vip;
}

@media (min-width: @tablet-width) {
  .fieldset-impression {
    .feedback-form__legend {
      text-align: left;
    }
  }

  .fieldset-impression__block {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 7px;

    &::after {
      content: "";
      position: absolute;
      width: 1px;
      height: 292px;
      background-color: @color-gainsboro;
      right: 0;
      top: -70px;
    }
  }

  .fieldset-impression__line {
    padding: 0 0 20px 76px;
    margin-bottom: 32px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .fieldset-impression__radio {
    & + label::before,
    &:checked + label::before {
      left: -72px;
    }

    & + label::after,
    &:checked + label::after {
      left: -57px;
    }
  }
}

@media (min-width: @desktop-width) {
  .fieldset-impression {
    .feedback-form__legend {
      margin-left: 80px;
    }
  }

  .fieldset-impression__line {
    padding-left: 80px;
  }
}
