.fieldset-emotions {
  padding-bottom: 40px;
}

.fieldset-emotions__textarea {
  width: 280px;
  height: 160px;
  padding: 8px 19px 29px;
  color: @color-black;
  font-family: @font-family;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;

  &::placeholder {
    color: @color-black;
    font-family: @font-family;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
  }
}

@media (min-width: @tablet-width) {
  .fieldset-emotions {
    padding-bottom: 54px;
  }

  .fieldset-emotions__textarea {
    width: 100%;
    padding-top: 20px;
  }
}

@media (min-width: @tablet-width) {
  .fieldset-emotions {
    .feedback-form__legend {
      margin-top: 21px;
    }
  }
}
