.image-container__link {
  display: block;
}

.image-container__photo {
  display: block;
}

.image-container__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 14px;
  line-height: 24px;
}

.image-container__info p,
.image-container__info h3 {
  margin: 0;
  font-size: 14px;
}

.image-container__title {
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
}

.image-container__header {
  flex-basis: 100%;
  text-align: left;
}

.image-container__author {
  text-transform: initial;
}

.image-container__author-name {
  text-transform: initial;
  font-style: normal;
  margin-left: 5px;
}

.image-container__likes {
  padding-top: 11px;
}

.image-container__likes-icon {
  fill: @color-black-opacity;
}

.image-container__likes-count {
  font-weight: 700;
  margin-left: 10px;
}

@media (min-width: @tablet-width) {
  .image-container__info {
    background-color: @color-anti-flash-white;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px 25px 17px 20px;
  }

  .image-container__photo {
    width: 324px;
    height: 267px;
  }

  .image-container__likes {
    display: flex;
    min-width: 60px;
  }
}

@media (min-width: @desktop-width) {
  .image-container__photo {
    width: 400px;
    height: 267px;
  }

  .image-container__info {
    line-height: 24px;
    padding: 5px 26px 16px 20px;
    background-color: @color-black-opacity;
    color: @color-white;
    margin-top: -80px;
    position: relative;
  }

  .image-container__likes-icon {
    fill: @color-white;
  }
}
