.image-container__photo {
  display: block;
}

.image-container__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.image-container__info p,
.image-container__info h3 {
  margin: 0;
  padding: 0;
}

.image-container__title {
  display: flex;
  flex-wrap: wrap;
}

.image-container__header {
  flex-basis: 100%;
  text-align: left;
}

.image-container__author {
  text-transform: initial;
}

.image-container__author-name {
  text-transform: initial;
  font-style: normal;
  margin-left: 5px;
}

.image-container__likes-count {
  font-weight: 700;
  margin-left: 8px;
}
