.intro {
  background-color: @color-cyan-azure;
  background-image: url("../img/intro-background-small.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  min-height: 389px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &::after {
    content: "";
    width: 320px;
    height: 57px;
    background-image: url("../img/intro-shape-small.svg");
    position: absolute;
    bottom: -1px;
  }
}

.intro__logo {
  text-align: center;
  margin: 0;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .intro {
    background-image: url("../img/intro-background-middle.jpg");
    min-height: 518px;

    &::after {
      width: 768px;
      height: 57px;
      background-image: url("../img/intro-shape-middle.svg");
    }
  }

  .intro__logo {
    width: 461px;
    height: 350px;
  }
}

@media (min-width: @desktop-width) {
  .intro {
    background-image: url("../img/intro-background-big.jpg");

    &::after {
      width: 1200px;
      height: 57px;
      background-image: url("../img/intro-shape-big.svg");
    }
  }
}
