.intro {
  background-color: @color-cyan-azure;
  background-image: url("../../img/intro-background-small.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  min-height: 389px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro__logo {
  text-align: center;
  margin: 0px;
  padding: 0px;
}
