.map-review {
  background-image: url("../img/map-small.jpg");
}

.map-review__iframe {
  border: none;
  display: block;
}

@media (min-width: @tablet-width) {
  .map-review {
    background-image: url("../img/map-middle.jpg");
  }

  .map-review__iframe {
    width: 100%;
  }
}

@media (min-width: @desktop-width) {
  .map-review {
    background-image: url("../img/map-big.jpg");
  }
}
