.map-review {
  background-image: url("../img/map-small.jpg");
  position: relative;

  &::before {
    content: "";
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background-color: @color-white;
    top: 50%;
    left: 50%;
    z-index: 1;
    position: absolute;
    transform: translate(-50%, -50%);
  }

  &::after {
    content: "";
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: @color-dark-sky-blue-light;
    top: 50%;
    left: 50%;
    z-index: 2;
    position: absolute;
    transform: translate(-50%, -50%);
  }
}

.map-review__iframe {
  border: none;
  display: block;
}

@media (min-resolution: 2dppx) {
  .map-review {
    background-image: url("../img/map-small@2x.jpg");
    background-size: cover;
  }
}

@media (min-width: @tablet-width) {
  .map-review {
    background-image: url("../img/map-middle.jpg");
  }

  .map-review__iframe {
    width: 100%;
  }

  @media (min-resolution: 2dppx) {
    .map-review {
      background-image: url("../img/map-middle@2x.jpg");
      background-size: cover;
    }
  }
}

@media (min-width: @desktop-width) {
  .map-review {
    background-image: url("../img/map-big.jpg");
  }

  @media (min-resolution: 2dppx) {
    .map-review {
      background-image: url("../img/map-big@2x.jpg");
      background-size: cover;
    }
  }
}
