.modal-success {
  box-shadow: 0 7px 15px @color-drop-shadow;
  display: none;
}

.modal-success__header {
  margin: 0;
  padding: 38px 38px 29px;
}

.modal-success__button-container {
  margin: 0;
  padding: 20px;
  background-color: @color-anti-flash-white;
}

.modal-success__button {
  width: 280px;
  height: 58px;
  font-family: @font-family;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: @color-white;
  vertical-align: middle;
  background-color: @color-dark-sky-blue;
  border: none;
}

@media (min-width: @tablet-width) {
  .modal-success__header {
    .section-title__header {
      font-size: 30px;
    }
  }
}
