
.navigation {
  margin: 0px;
  padding: 0px;
  color: @color-white;
}

.navigation__wrapper {
  width: 100%;
}

.navigation__list {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: none;
}

.navigation__item {
  padding: 0px;
  margin: 0px;
  min-height: 55px;
  background-color: @color-dark-sky-blue;
  box-shadow:
    0px 1px 0px @color-black-shadow,
    inset 0px 1px 0px rgba(255, 255, 255, 0.2);
  font-weight: 700;
  line-height: 40px;
  text-align: center;
}

.navigation__link {
  text-decoration: none;
  color: @color-white;
}

.navigation__toggle {
  display: none;
}
