.page-footer {
  padding: 25px 20px;
}

.page-footer__hachtag {
  margin: 0;
  padding-bottom: 30px;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
}

.page-footer__copyright {
  padding-top: 30px;
  display: flex;
  align-self: center;
  justify-content: center;
}

.page-footer__link {
  color: @color-black;
  text-decoration: none;
}

.page-footer__desc {
  padding-right: 10px;
}
