.page-catalog .intro {
  background-image: url("../img/background-small.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  min-height: 156px;

  .intro__logo {
    margin-top: -8px;
  }
}

@media (min-resolution: 2dppx) {
  .page-catalog .intro {
    background-image: url("../img/background-small@2x.jpg");
    background-size: cover;
  }
}

@media (min-width: @tablet-width) {
  .page-catalog .intro {
    background-image: url("../img/background-middle.jpg");
    min-height: 290px;
  }

  .page-catalog .intro__logo {
    width: 457px;
    height: 78px;
    margin-top: -12px;
  }

  @media (min-resolution: 2dppx) {
    .page-catalog .intro {
      background-image: url("../img/background-middle@2x.jpg");
      background-size: cover;
    }
  }
}

@media (min-width: @desktop-width) {
  .page-catalog .intro {
    background-image: url("../img/background-big.jpg");
    min-height: 300px;
  }

  @media (min-resolution: 2dppx) {
    .page-catalog .intro {
      background-image: url("../img/background-big@2x.jpg");
      background-size: cover;
    }
  }
}
