.page-body {
  font-family: @font-family;
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: @color-black;
  text-transform: uppercase;
  background-color: @color-white;
}
