.photo-catalog__header {
  margin: 0;
  padding: 33px 15px 33px;
  border-bottom: 1px solid @color-platinum-vip;

  .section-title__content {
    line-height: 24px;
    padding-top: 13px;
  }
}

.photo-catalog__item {
  margin: 0;
  padding: 22px 20px 15px;
  border-bottom: 1px solid @color-platinum-vip;
}

@media (min-width: @tablet-width) {
  .photo-catalog {
    padding: 0 60px;
  }

  .photo-catalog__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .photo-catalog__header {
    padding: 65px 105px 77px;
    border-bottom: none;
    grid-column-start: 1;
    grid-column-end: -1;

    .section-title__header {
      font-size: 30px;
    }

    .section-title__content {
      padding-top: 18px;
    }
  }

  .photo-catalog__item {
    margin: 0;
    padding: 0;
    border-bottom: none;

    &--current {
      grid-column-start: 1;
      grid-column-end: -1;

      & .image-container__photo {
        width: 648px;
        height: 400px;
      }

      & .image-container__info {
        padding: 5px 20px 17px;
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .photo-catalog {
    padding: 0 0 6px;
    background-color: @color-white;
  }

  .photo-catalog__wrapper {
    grid-template-columns: repeat(3, 1fr);
  }

  .photo-catalog__header {
    padding: 100px 380px 79px;

    .section-title__content {
      padding-top: 21px;
    }
  }

  .photo-catalog__item {
    &--current {
      & .image-container__photo {
        width: 1200px;
      }
    }
  }
}
