.section-title {
  line-height: 26px;
}

.section-title__header {
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.section-title__content {
  color: @color-dark-charcoal;
  padding-top: 20px;
  margin-bottom: 0;
}

@media (min-width: @tablet-width) {
  .section-title__header {
    font-size: 21px;
  }

  .section-title__content {
    font-size: 14px;
    line-height: 24px;
  }
}
