/* Color variables */
@color-white: #ffffff;
@color-white-opacity: rgba(255, 255, 255, 0.3);
@color-white-opacity-low: rgba(255, 255, 255, 0.6);
@color-white-shadow: rgba(255, 255, 255, 0.2);
@color-black: #000000;
@color-black-opacity-bulk: rgba(0, 0, 0, 0);
@color-black-opacity-shadow: rgba(0, 0, 0, 0.2);
@color-black-opacity: rgba(0, 0, 0, 0.3);
@color-black-opacity-low: rgba(0, 0, 0, 0.6);
@color-dark-sky-blue: #81b3d2;
@color-dark-sky-blue-light:#81b3d3;
@color-cyan-azure: #4b81ad;
@color-dark-charcoal: #333333;
@color-dark-charcoal-opacity: rgba(51, 51, 51, 0.3);
@color-bright-gray: #eeeeee;
@color-black-shadow: rgba(1, 1, 1, 0.2);
@color-drop-shadow:  rgba(0, 1, 1, 0.15);
@color-drop-shadow-low: rgba(0, 1, 1, 0.2);
@color-platinum: #e7e5e5;
@color-light-silver: #d6d6d6;
@color-cerulean-frost: #669ec0;
@color-silver-lake-blue: #5496bd;
@color-platinum-vip: #e5e5e5;
@color-anti-flash-white: #f2f2f2;
@color-platinum-sedona: #e6e6e6;
@color-silver-sand: #c4c4c4;
@color-transparent: transparent;
@color-deep-taupe: #766357;
@color-umber: #604e43;
@color-gainsboro: #dbdbdb;
@color-light-gray: #d5d5d5;
@color-cadet: #5c6870;
@color-chinese-white: #dbeadb;
@color-granite-gray: #666666;
@color-pale-pink: #ffd6d6;
@color-vivid-tangerin: #ffa494;

/* Fonts */
@font-family: PT Sans, Arial, sans-serif;

// Viewports

@tablet-width: 768px;
@desktop-width: 1200px;
@mobile-width-only: 767px;
